# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.txt
Aula 2/.ipynb_checkpoints/Aula02 Atividade Variáveis Qualitativas com PNAD-checkpoint.ipynb
*.zip
Projeto 1/PES2014.csv
Projeto 1/.ipynb_checkpoints/Projeto 1-checkpoint.ipynb
aula10/.ipynb_checkpoints/Aula10 Atividade Modelos probabilísticos discretos-checkpoint.ipynb
Aula 2/Dicionário de variáveis de pessoas - PNAD 2013.xls
Aula 2/PNAD 2013 A.xlsx
Mini projeto 1/WDI-word.xlsx
aula12/Padaria.xlsx
Projeto 1/Dicionario de variaveis de pessoas - PNAD 2014.xls
